/* editar-usuario.component.css */
h2 {
    color: hwb(268 85% 10%);
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Espacio debajo del título */
}

form {
    max-width: 400px;
    margin: auto; /* Asegura que el formulario esté centrado */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
