<h2>Lista de Usuarios</h2>
<button class="btn-nuevo-registro">
    <i class="fas fa-plus"></i> Crear nuevo registro
</button>

<div class="tabla-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Tabla con los datos estáticos de los usuarios -->
            <tr>
                <td>1</td>
                <td>Juan</td>
                <td>Pérez</td>
                <td>juancexample.com</td>
                <td>123456789</td>
                <td>
                    <button>
                        <i class="fas fa-edit"></i> Editar
                    </button>
                    <button>
                        <i class="fas fa-trash"></i> Eliminar
                    </button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Ana</td>
                <td>González</td>
                <td>anaexample.com</td>
                <td>987654321</td>
                <td>
                    <button>
                        <i class="fas fa-edit"></i> Editar
                    </button>
                    <button>
                        <i class="fas fa-trash"></i> Eliminar
                    </button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Luis</td>
                <td>Martínez</td>
                <td>luisexample.com</td>
                <td>123123123</td>
                <td>
                    <button>
                        <i class="fas fa-edit"></i> Editar
                    </button>
                    <button>
                        <i class="fas fa-trash"></i> Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>