<h2>Lista de Usuarios</h2>
<button class="btn-nuevo-registro" (click)="irANuevoUsuario()">
    <i class="fas fa-plus"></i> Crear nuevo registro
</button>

<div class="tabla-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <td>{{ usuario.id_usuario }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.telefono }}</td>
                <td>
                    <button (click)="editarUsuario(usuario.id_usuario)">
                        <i class="fas fa-edit"></i> Editar
                    </button>
                    <button (click)="eliminarUsuario(usuario.id_usuario)">
                        <i class="fas fa-trash"></i> Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
