<div class="title-header">
  <h1>RED EDUCATIVA</h1>
</div>

<header>
  <nav>
    <ul>
      
     
      <li><a href="/registros"><i class="fas fa-clipboard-list"></i> Registros</a></li>
      <li><a href="/ciudad"><i class="fas fa-city"></i> Ciudades</a></li>
      <li><a href="/nuevousuario"><i class="fas fa-city"></i> Registrar usuario</a></li>
      <li><a href="/nuevaciudad"><i class="fas fa-city"></i> Registrar ciudad</a></li>
      <!-- En algún componente o en la vista principal -->

      



    </ul>
  </nav>
</header>

<router-outlet></router-outlet>