<h2>Lista de Ciudades</h2>
<button class="btn-nuevo-registro">
    <i class="fas fa-plus"></i> Crear nueva Ciudad
</button>

<div class="tabla-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Tabla con los datos estáticos de las ciudades -->
            <tr>
                <td>1</td>
                <td>Madrid</td>
                <td>
                    <button>
                        <i class="fas fa-edit"></i> Editar
                    </button>
                    <button>
                        <i class="fas fa-trash"></i> Eliminar
                    </button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Barcelona</td>
                <td>
                    <button>
                        <i class="fas fa-edit"></i> Editar
                    </button>
                    <button>
                        <i class="fas fa-trash"></i> Eliminar
                    </button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Sevilla</td>
                <td>
                    <button>
                        <i class="fas fa-edit"></i> Editar
                    </button>
                    <button>
                        <i class="fas fa-trash"></i> Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>