/* editar-usuario.component.css */
h2 {
    color: hwb(268 85% 10%);
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Espacio debajo del título */
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 30px; /* Aumenta el espacio entre las columnas */
    max-width: 800px; /* Ancho máximo del formulario */
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: column; /* Coloca la etiqueta y el input en columna */
}

label {
    margin-bottom: 5px; /* Espacio entre la etiqueta y el input */
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    grid-column: span 2; /* Hace que el botón ocupe ambas columnas */
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
